<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://dubbo.apache.org/schema/dubbo
       http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <context:component-scan base-package="com.bjpowernode.dubbo.web"/>

    <mvc:annotation-driven/>

    <!--配置dubbo-->

    <!--1.配置工程名称-->
    <dubbo:application name="002-dubbo-web-consumer"/>

    <!--
        2.订阅服务
            将服务获取并放入到Spring容器中
    -->
    <dubbo:reference id="userService"
                     interface="com.bjpowernode.dubbo.service.UserService"
                     url="dubbo://localhost:20880"
                     registry="N/A" />

</beans>