<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>标准变量表达式：${}</h1>
    <div th:text="${user.id}"></div>
    <div th:text="${user.age}"></div>
    <span th:text="${user.username}"></span>

<h1>选择变量表达式(星号表达式)：*{}  （不推荐）</h1> <br>

<div th:object="${user}">
   用户id： <span th:text="*{id}"></span><br>
   用户年龄： <span th:text="*{age}"></span><br>
   用户姓名： <span th:text="*{username}"></span><br>
</div>

<h1>标签变量表达式与选择变量表达式的混合使用(不推荐)</h1>
用户id<span th:text="*{user.id}"></span><br>
用户年龄<span th:text="*{user.age}"></span><br>
用户姓名<span th:text="*{user.username}"></span><br>
</body>
</html>