<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://dubbo.apache.org/schema/dubbo
       http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

      <!--  &lt;!&ndash;加载dao的配置文件,别忘了在pom.xml中手动加载配置映射文件&ndash;&gt;
        <import resource="classpath*:spring-dao.xml"/>
-->
        <!--1.配置工程名称，注册到注册中心的工程名称-->
        <dubbo:application name="005-dubbo-service"/>

        <!--2.配置协议和端口号，如果有多个服务提供者，端口不能重复-->
        <dubbo:protocol name="dubbo" port="20882" />
        
        <!--3.配置注册中心-->
        <dubbo:registry address="zookeeper://192.168.75.128:2181"/>
        
        <!--4.注册服务
        <dubbo:service interface="com.bjpowernode.dubbo.service.UserService"
                       version="0.0.1"
                       ref="userService" />
    
        <bean id="userService" class="com.bjpowernode.dubbo.service.impl.UserServiceImpl"/>
            -->



        <!--使用注解配置  dubbo配置的注解扫描-->
        <dubbo:annotation package="com.bjpowernode.dubbo.service.impl"/>


</beans>