<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpowernode.springboot.mapper.DictionaryValueMapper">
  <resultMap id="BaseResultMap" type="com.bjpowernode.springboot.model.DictionaryValue">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="text" jdbcType="VARCHAR" property="text" />
    <result column="orderNo" jdbcType="BIGINT" property="orderno" />
    <result column="typeCode" jdbcType="VARCHAR" property="typecode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, value, text, orderNo, typeCode
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_dictionary_value
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tbl_dictionary_value
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.bjpowernode.springboot.model.DictionaryValue">
    insert into tbl_dictionary_value (id, value, text, 
      orderNo, typeCode)
    values (#{id,jdbcType=CHAR}, #{value,jdbcType=VARCHAR}, #{text,jdbcType=VARCHAR}, 
      #{orderno,jdbcType=BIGINT}, #{typecode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bjpowernode.springboot.model.DictionaryValue">
    insert into tbl_dictionary_value
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="text != null">
        text,
      </if>
      <if test="orderno != null">
        orderNo,
      </if>
      <if test="typecode != null">
        typeCode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="text != null">
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null">
        #{orderno,jdbcType=BIGINT},
      </if>
      <if test="typecode != null">
        #{typecode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bjpowernode.springboot.model.DictionaryValue">
    update tbl_dictionary_value
    <set>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="text != null">
        text = #{text,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null">
        orderNo = #{orderno,jdbcType=BIGINT},
      </if>
      <if test="typecode != null">
        typeCode = #{typecode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bjpowernode.springboot.model.DictionaryValue">
    update tbl_dictionary_value
    set value = #{value,jdbcType=VARCHAR},
      text = #{text,jdbcType=VARCHAR},
      orderNo = #{orderno,jdbcType=BIGINT},
      typeCode = #{typecode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>


</mapper>